<!-- myapp/templates/myapp/home.html -->
{% extends 'myapp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <div class="home-content">
        <p class="small-button-text">AI powered platform</p>
        <h1 class="main-heading">Your <span>Startup</span> Journey Starts Here</h1>
        <p class="small-text">Empowering Student Innovators to Transform their Ideas into Reality</p>
        <a href="" class="btn-get-started">Getting Started</a>
    </div>
</div>
{% endblock %}
