<!-- myapp/templates/myapp/projects.html -->
{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="projects-container">
    {% include 'myapp/includes/sidebar.html' %}

    <main class="projects-main">
        <h2>{{ user.username }}'s Projects</h2>
        <div class="projects-box">
            
            {% for project in projects %}
                <div class="project-item">
                    <a href="{% url 'project_detail' id=project.id %}">
                    <div class="project-logo">
                        <img src="{% static 'images/icons/logo.png' %}" alt="Project Logo">
                    </div>
                    </a>
                    <div class="project-info">
                        <h3>{{ project.startup_name }}</h3>
                        <p>Created on: {{ project.created_at }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No projects yet. Add a new project below!</p>
            {% endfor %}
            <div class="projects-item">
                <a href="{% url 'set_startup' %}">
                <div class="project-logo">
                    +
                </div>
            </a>
            </div>
        </div>

        
    </main>
</div>
{% endblock %}
