<!-- myapp/templates/myapp/signup.html -->
{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Username{% endblock %}

{% block content %}
<div class="signup-container">
    <div class="signup-left">
        <img src="{% static 'images/logo.svg' %}" alt="Signup Image" class="signup-image">
        <p class="signup-text">Hey I'm LaunchAI, an AI who can
            help you in your startup journey.</p>
            <h1><b>What's your name?</b></h1>
            <form action="{% url 'set_username' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="text" name="text" placeholder="Username" required>
                </div>
                <div class="nextbtn">
                    <button type="submit" class="btn-signup" style="width: 100px;">Next</button>
                </div>
            </form>
    </div>
</div>
{% endblock %}
