<!-- myapp/templates/myapp/includes/navbar.html -->

{% load static %}
<nav class="navbar">
    <div class="navbar-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
    </div>
    <ul class="navbar-links">
        <li><a href="">Motivation</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Our Team</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>
    <div class="navbar-auth">
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}</span>
            <!--<a href="{% url 'logout' %}" class="btn-logout">Logout</a>-->
        {% else %}
            <a href="{% url 'signup' %}" class="btn-signup">Sign Up</a>
        {% endif %}
    </div>
</nav>
