{% load static %}

<aside class="projects-sidebar">
    <div class="sidebar-icons">

    <div class="sidebar-logo">
        <img src="{% static 'images/icons/logo.svg' %}" alt="Logo">
    </div>
        <img src="{% static 'images/icons/dashboard.svg' %}" alt="dashboard" class="sidebar-icon active">
        <img src="{% static 'images/icons/chat.svg' %}" alt="chat" class="sidebar-icon">
        <img src="{% static 'images/icons/ai.svg' %}" alt="ai" class="sidebar-icon">
    </div>
    <div class="sidebar-profile">
        <img src="{% static 'images/icons/profile.png' %}" alt="Profile" class="profile-img">
    </div>
</aside>